body{
    margin: 0;
}
#about_screen{
    background: url(images/background5.jpg);
    background-size: cover;
    height: 115px;
    overflow: hidden;
}
/*--------TOP LOGO AND NAVIGATION------*/
#glass_nav{
    background: rgba(255, 255, 255, 0.025);
    height: 75px;
}
#about_top{
    height: 75px;
    margin: 20px auto 0 auto;;
    overflow: hidden;
    width: 1200px;
}
#logo_box1{
    border: 3px solid #98ef77;
    display: inline-block;
    height: 68px;
    margin: 0;
    width: 180px;
}
#logo_name{
    color: white;
    font-family: lato;
    font-size: 32px;
    font-weight: 300;
    margin: 14px auto 0 auto;
    text-align: center;
    text-decoration: none;
    width: 175px;
}
#homelink{
    text-decoration: none;
}
#logo_name:hover{
    color: #98ef77;
}
#logo_description{
    color: white;
    display: inline-block;
    font-family: lato;
    font-size: 32px;
    font-weight: 300;
    margin: 4px 0 0 20px;
    width: 210px;
}
.nav_links{
    color: white;
    display: inline-block;
    float: right;
    font-family: lato;
    font-size: 28px;
    font-weight: 300;
    margin: 22px 0 0 40px;
}
.nav_links:hover{
    color: #98ef77;
}
#about_me{
    color: #98ef77;
}
/*--------------ABOUT BODY HEAD----------------*/
#head_container{
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    width: 1024px;
}
#head_left{
    display: inline-block;
    height: 350px;
    overflow: hidden;
    width: 250px;
}
#headshot{
    border: 5px solid #98ef77;
    border-radius: 115px;
    display: block;
    margin: 70px 0 0 0;
}
#head_right{
    float: right;
    height: 350px;
    overflow: hidden;
    width: 774px;
}
#first{
    color: #404040;
    font-family: lato;
    font-size: 42px;
    font-weight: 300;
    margin: 60px 0 0 0;
}
#intro_statement{
    color: #404040;
    font-family: lato;
    font-size: 29px;
    font-weight: 300;
    margin: 25px 0 0 0;
    text-align: justify;
}
/*-------------------ABOUT BODY CONTENT----------*/
/*-----SKILLS-------------*/
#skill_div{
    background: url("images/short_header.jpg");
    background-size: cover;
    height: 350px;
}
#skill_container{
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    width: 1200px;
}
#skill_title{
    color: white;
    display: block;
    font-family: lato;
    font-size: 42px;
    font-weight: 300;
    margin: 40px 0 20px 0;
    text-align: center;
}
.fa{
    color: #98ef77;
    display: inline-block;
}
.left_check{
    margin: 0 0 0 90px;
}
.skill{
    color: white;
    display: inline-block;
    font-family: lato;
    font-size: 32px;
    font-weight: 300;
    margin: 20px 0 0 10px;
}
#skill1{
    margin: 20px 75px 0 10px;
}
#skill2{
    margin: 20px 75px 0 10px;
}
#skill4{
    margin: 20px 230px 0 10px;
}
#skill5{
    margin: 20px 103px 0 10px;
}
#skill7{
    margin: 20px 116px 0 10px;
}
#skill8{
    margin: 20px 150px 0 10px;
}
/*-------WORK HISTORY--------*/
#work_title_container{
    margin: 0 auto;
    overflow: hidden;
    width: 1200px;
}
#work_title{
    color: #404040;
    display: inline-block;
    float: left;
    font-family: lato;
    font-size: 32px;
    font-weight: 300;
    margin: 75px 0 50px 275px;
    text-align: center;
}
#download{
    color: white;
    cursor: pointer;
    display: inline-block;
    background-color: #7cd959;
    border: none;
    border-radius: 10px;
    font-family: lato;
    font-size: 20px;
    margin: 75px 0 10px 40px;
    padding: 10px;
}
#download:hover{
    background-color: #98ef77;
}
#resume_excerpt{
    display: block;
    margin: 0 auto 50px auto;
}