body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    cursor: pointer;
}
/*--------FULL SCREEN BACKGROUND------------*/
#background{
    background: url(images/background5.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
/*--------NAVIGATION---------*/
#navbar_background{
    background: rgba(255, 255, 255, 0.030);
    margin: 25px auto 0 auto;
}
#nav_container{
    margin: 0 auto;
    overflow: hidden;
    width: 1200px;
}
#logo_container{
    float: left;
    height: 75px;
    width: 345px;
}
#logo_box{
    border: 3px solid #98ef77;
    display: inline-block;
    float: left;
    height: 75px;
    overflow: hidden;
    width: 180px;
}
#nevoski{
    color: white;
    font-family: lato;
    font-size: 32px;
    font-weight: 300;
    margin: 14px 0;
    text-align: center;
}
#ux_design{
    color: white;
    display: inline-block;
    font-family: lato;
    font-size: 32px;
    font-weight: 300;
    line-height: 75px;
    margin: 0 0 0 20px;
}
#link_container{
    display: inline-block;
    float: right;
    height: 75px;
}
.nav_links{
    color: white;
    float: right;
    font-family: lato;
    font-size: 28px;
    font-weight: 300;
    margin: 22px 30px 0 0;
}
#contact{
    margin-right: 0;
}
.nav_links:hover{
    color: #98ef77;
}
/*-------HELLO AND WELCOME-------*/
#hello{
    color: #98ef77;
    font-family: lato;
    font-weight: 300;
    font-size: 150px;
    text-align: center;
    margin-bottom: 75px;
    margin-top: 50px;
}
#welcome{
    color: white;
    font-family: lato;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    margin: 0 auto;
    width: 800px;
}
#arrow_down1{
    bottom: 25px;
    left: 48.25%;
    position: absolute;
}
/*---------UX ICONS AND DESCRIPTIONS--------*/
#overview{
    color: #404040;
    font-family: lato;
    font-weight: 300;
    font-size: 48px;
    margin: 75px 0 60px 0;
    text-align: center;
}
#big_container{
    margin: 0 auto;
    overflow: hidden;
    width: 1200px;
}
.small_icon_container{
    float: left;
    overflow: hidden;
    width: 281px;
}
#big_icon_container{
    float: left;
    overflow: hidden;
    width: 638px;
}
#research{
    margin-left: 80px;
}
#ideation{
    display: block;
    margin: 30px auto 48px auto;
}
#mockups{
    margin: 29px 0 0 80px;
}
.title{
    color: #404040;
    font-family: lato;
    font-weight: 300;
    font-size: 42px;
    margin-top: 45px;
    text-align: center;
}
.description{
    color: #404040;
    font-family: lato;
    font-weight: 300;
    font-size: 24px;
    margin: 30px auto 0 auto;
    text-align: center;
}
#research_description{
    width: 250px;
}
#ideation_description{
    width: 500px;
}
#mockup_description{
    width: 245px;
}
#arrow_down2{
    display: block;
    margin: 100px auto 25px auto;
}
/*-----------------FOOTER-------------------*/
#footer_background{
    background: url(images/background4.jpg);
    background-size: cover;
    overflow: hidden;
}
#footer_title{
    color: white;
    font-family: lato;
    font-weight: 300;
    font-size: 42px;
    margin: 50px 0;
    text-align: center;
}
#button1{
    background-color: #8ee06f;
    border: none;
    border-radius: 10px;
    color: white;
    display: block;
    font-family: lato;
    font-size: 20px;
    font-weight: 700;
    margin: 30px auto;
    padding: 15px 90px;
}
#or{
    color: white;
    font-family: lato;
    font-weight: 300;
    font-size: 32px;
    margin: 30px 0;
    text-align: center;
}
#button2{
    background-color: #8ee06f;
    border: none;
    border-radius: 10px;
    color: white;
    display: block;
    font-family: lato;
    font-size: 20px;
    font-weight: 700;
    margin: 30px auto 50px auto;
    padding: 15px 120px;
}
#button1:hover, #button2:hover{
    background-color: #98ef77;
    cursor: pointer;
}
/*---------------BREAK POINTS-------------------------*/
@media (max-width: 1200px){ /*-----1200-----*/
    #nav_container{
        margin: 0 auto;
        overflow: hidden;
        width: 980px;
    }
    #big_container{
        width: 1005px;
    }
    .small_icon_container{
        width: 215px;
    }
    #big_icon_container{
        width: 575px;
    }
    #research{
        margin: 13px 0 0 65px;
        width: 115px;
    }
    #ideation{
        margin-bottom: 44px;
        width: 400px;
    }
    #mockups{
        margin: 30px 0 0 65px;
        width: 100px;
    }
    .title{
        font-size: 36px;
        margin-top: 40px;
    }
    .description{
        font-size: 20px;
    }
    #research_description{
        width: 80%;
    }
    #ideation_description{
        width: 75%;
    }
    #mockup_description{
        width: 75%;
    }
}
@media (max-width: 980px){ /*-----980-----*/
    #nav_container{
        width: 800px;
    }
    .nav_links{
        font-size: 20px;
        margin-top: 30px;
    }
    #big_container{
        width: 100%;
    }
    .small_icon_container{
        float: none;
        width: 100%;
    }
    #big_icon_container{
        float: none;
        margin: 50px auto;
        width: 100%;
    }
    #research{
        display: block;
        margin: 0 auto;
        width: 162px;
    }
    #ideation{
        width: 500px;
    }
    #mockups{
        display: block;
        margin: 0 auto;
        width: 136px;
    }
    .title{
        font-size: 42px;
    }
    .description{
        font-size: 24px;
        width: 50%;
    }
}
@media (max-width: 800px){ /*-----800-----*/
    #nav_container{
        width: 500px;
    }
    #logo_container{
        display: block;
        float: none;
        margin: 0 auto;
    }
    #link_container{
        width: 500px;
    }
    .nav_links{
        display: inline-block;
        font-size: 24px;
        margin-top: 25px;
    }
    #contact{
        margin-right: 10px;
    }
    #welcome{
        font-size: 36px;
        width: 85vw;
    }
    #arrow_down1{
        left: 45.5%;
    }
    #overview{
        font-size: 36px;
    }
}
@media (max-width: 560px){ /*-----500-----*/
    #nav_container{
        width: 100%;
    }
    #logo_div{
        display: none;
    }
    #link_container{
        margin-top: 10px;
        height: 200px;
        width: 100%;
    }
    .nav_links{
        background: rgba(255, 255, 255, 0.05);
        float: none;
        line-height: 50px;
        margin: 0;
        text-align: center;
        width: 100%;
    }
    .nav_links:hover{
        background: rgba(255, 255, 255, 0.10);
    }
    #hello{
        font-size: 100px;
        margin-bottom: 25px;
        margin-top: 25px;
    }
    #welcome{
        font-size: 32px;
        width: 85vw;
    }
    #arrow_down{
        left: 45%;
    }
    #overview{
        font-size: 32px;
    }
    #ideation{
        width: 95%;
    }
    #footer_title{
        font-size: 32px;
    }
    #button1{
        padding: 15px 60px;
    }
    #button2{
        padding: 15px 90px;
    }
}
