/*-------GLOBAL STYLING------*/
body{
    box-sizing: border-box;
    margin: 0;
}
a, img{ /* for IE9 default borders */
    border: none;
    outline: none;
}
a{
    text-decoration: none;
}
/*-----------NOTIFICATION OVERLAY----------*/
.overlay{
    background: rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.notification{
    background: #61c3b4;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 30vh auto 0 auto;
    width: 340px;
}
.notification_text{
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
}
.notification_button{
    background: white;
    border-radius: 25px;
    color: #61c3b4;
    font-family: "Lato", sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0 auto 10px auto;
    padding: 10px;
    text-align: center;
    transition: .25s;
    width: 100px;
}
.notification_button:hover{
    cursor: pointer;
    width: 120px;
}
/*--------SPLASH HEADER-------*/
.splash_header{
    background: #7bd689;
    background: linear-gradient(160deg, #a2f48b, #13b1f9);
    background: linear-gradient(160deg, rgba(162, 244, 139, 0.75), rgba(19, 177, 249, 0.75)), url(images/background_bw.jpg);
    background-size: cover;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
}
.splash_logo_div{
    margin: 75px auto 0 auto;
    max-width: 1920px;
    opacity: 1;
    overflow: hidden;
    padding: 0;
    transform: translate(0, 15px);
    width: 80%;
}
/*
                                   | |  (_)
          _ __   _____   _____  ___| | ___ 
         | '_ \ / _ \ \ / / _ \/ __| |/ / |
         | | | |  __/\ V / (_) \__ \   <| |
         |_| |_|\___| \_/ \___/|___/_|\_\_|

*/
.nevoski_logo{
    fill: white;
    fill-opacity: 0;
    stroke-dasharray: 300px;
    stroke-dashoffset: 300;
    margin: 0;
    width: 100%;
}
/*---ux icons---*/
.ux_icons{
    margin: 125px auto 150px auto;
    overflow: hidden;
    width: 980px;
}
.icon_container{
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 33.33%;
}
.heart_icon{
    fill: none;
    fill-opacity: 1;
    margin: 0 0 0 35%;
    stroke-dasharray: 300px;
    stroke-dashoffset: 300;
    stroke-width: 2px;
    width: 30%;
}
.layout_icon{
    fill: none;
    fill-opacity: 1;
    margin: 0 0 0 35%;
    stroke-dasharray: 245px;
    stroke-dashoffset: 245px;
    stroke-width: 2px;
    width: 30%;
}
.code_icon{
    fill: none;
    fill-opacity: 1;
    margin: 0 0 0 32.5%;
    stroke-dasharray: 155px;
    stroke-dashoffset: 155px;
    stroke-width: 1.5px;
    width: 35%;
}
@keyframes icon_fill{
    50%{
        fill-opacity: 0;
        stroke-dashoffset: 0;
    }
    100%{
        fill: white;
        fill-opacity: 1;
        stroke-dashoffset: 0;
    }
}
.icon_fill{ /*jquery adds animation classes after page load*/
    animation: icon_fill 5s 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.icon_title{
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    margin-top: 75px;
    text-align: center;
    transform: translate(0, -15px);
}
.ui_title{
    margin-top: 74px;
}
.bottom_border{
    background: white;
    bottom: -3px;
    height: 5px;
    left: 35%;
    position: absolute;
    transition: .25s;
    width: 0;
}
.bottom_border_addClass{
    width: 30%;
}

/*-----IE/EDGE splash header hide/show-------*/
.ie_content{
    display: none;
}
/*--------INTRO--------*/
.intro_content{
    background: #e86c6c;
    background: linear-gradient(160deg, #f4d48b, #e81d90);
    background: linear-gradient(160deg, rgba(244, 212, 139, 0.75), rgba(232, 29, 144, 0.75)), url(images/background_bw2.jpg);
    background-size: cover;
    margin: 0;
    overflow: visible;
    padding: 150px 0 150px 0;
    position: relative;
    width: 100%;
}
.headshot_div{
    left: calc( (100% - 200px)/2);
    margin: 0;
    position: absolute;
    top: -100px;
    width: 200px;
    z-index: 2;
}
.headshot{
    margin: 0;
    width: 100%;
}
.social_icons{
    background: rgba(255, 255, 255, 0.25);
    border-radius: 40px;
    height: 60px;
    left: calc( (100% - 350px)/2);
    overflow: hidden;
    position: absolute;
    top: -30px;
    width: 350px;
    z-index: 1;
}
.fa{
    color: white;
}
.twitter_div{
    float: left;
    height: 100%;
    overflow: hidden;
    transition: .25s;
    width: 50%;
}
.fa-twitter{
    color: white;
    float: left;
    margin: 15px 0 0 25px;
}
.twitter_div:hover{
    background: #41a7ff;
}
.twitter_div:active{
    background: #48aaff;
}
.behance_div{
    float: left;
    height: 100%;
    overflow: hidden;
    transition: .25s;
    width: 50%;
}
.fa-behance{
    color: white;
    float: right;
    margin: 15px 20px 0 0;
}
.behance_div:hover{
    background: #2454a2;
}
.behance_div:active{
    background: #2454a2;
}
.intro_text{
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    transform: translate(0, -15px);
    width: 940px;
}
.contact_button{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    bottom: 30px;
    height: auto;
    left: calc((100%/2) - 100px);
    margin: 30px 0;
    overflow: hidden;
    padding: 7px;
    position: absolute;
    transition: .25s;
    width: 200px;
}
#envelope{
    display: inline-block;
    font-size: 1.5em;
    line-height: 35px;
    margin: 0 25px 0 10px;
}
.button_text{
    color: white;
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 35px;
    margin: 0;
    text-align: center;
    text-decoration: none;
}
.contact_button:hover{
    background: #965b96;
}
.contact_button:active{
/*    background: #976fba;*/
    background: #a35fa3;
}
/*-----------INTRO & CONTENT---------*/
.intro_descriptions_and_content{
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
/*side image animations*/
.right_shape{
    animation: r_shapes 7s linear infinite;
    position: absolute;
    right: -55px;
    z-index: -1;
}
@keyframes r_shapes{
    25%{opacity: 1;}
    100%{
        opacity: 0;
        transform: translate(-30vw, 0) rotate(720deg) scale(.5);
    }
}
.r_triangle1{
    animation-delay: ;
    top: 3%;
}
.r_square2{
    animation-delay: 3.5s;
    top: 12%;
}
.r_spiral3{
    animation-delay: 2.5s;
    top: 21%;
}
.r_x4{
    animation-delay: 4.5s;
    top: 30%;
}
.r_spiral9{
    animation-delay: 1.5s;
    top: 40%;
}
.r_triangle10{
    animation-delay: ;
    top: 50%;
}

.r_triangle5{
    animation-delay: .5s;
    bottom: 3%;
}
.r_square6{
    animation-delay: 1.5s;
    bottom: 12%;
}
.r_spiral7{
    animation-delay: 2s;
    bottom: 21%;
}
.r_x8{
    animation-delay: 3.5s;
    bottom: 30%;
}
.r_square11{
    animation-delay: ;
    bottom: 39%;
}
/*left side image animations*/
.left_shape{
    animation: l_shapes 7s linear infinite;
    position: absolute;
    left: -55px;
    z-index: -1;
}
@keyframes l_shapes{
    25%{opacity: 1;}
    100%{
        opacity: 0;
        transform: translate(30vw, 0) rotate(-720deg) scale(0.5);
    }
}
.l_x1{
    animation-delay: ;
    top: 3%;
}
.l_triangle2{
    animation-delay: 2.5s;
    top: 12%;
}
.l_square3{
    animation-delay: 4.5s;
    top: 21%;
}
.l_spiral4{
    animation-delay: .5s;
    top: 30%;
}
.l_triangle9{
    animation-delay: 2.5s;
    top: 40%;
}
.l_square11{
    animation-delay: ;
    top: 50%;
}

.l_x5{
    animation-delay: ;
    bottom: 3%;
}
.l_triangle6{
    animation-delay: 3.5s;
    bottom: 12%;
}
.l_square7{
    animation-delay: 2s;
    bottom: 21%;
}
.l_spiral8{
    animation-delay: .75s;
    bottom: 30%;
}
.l_x10{
    animation-delay: .5;
    bottom: 39%;
}

.section_title{
    font-family: "Lato", sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    padding: 100px 0;
    text-align: center;
}
#what_can_i_do{
    color: #6fc9aa;
}
.descriptions_container{
    margin: 0 auto;
    overflow: hidden;
    width: 980px;
}
.description_div{
    background: #6adbb8;
    background: linear-gradient(160deg,#6adbb8,#8bd89a);
    border-radius: 10px;
    float: left;
    height: 100%;
    margin: 0 0 0 2%;
    overflow: hidden;
    width: 30.75%;
}
.description_icon_container{
    margin: 30px auto 20px auto;
    width: 50px;
}
.description_icon{
    width: 100%;
}
.description_code_icon_container{
    margin: 30px auto 20px auto;
    width: 67px;
}
.intro_description_title{
    background: #5ecba9;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.25em;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
.intro_description{
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    margin: 25px 15px 30px 15px;
    text-align: center;
}
/*--------portfolio content---------*/
#examples_title{
    color: #ff8787;
}
.examples_container{
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 980px;
}
.example{
    background: lightgray;
/*    background: linear-gradient(160deg,#ffc695,#ff9595);*/
    border-radius: 10px;
    float: left;
    height: 300px;
    margin: 15px 0 0 1.5%;
    overflow: hidden;
    position: relative;
    width: 48%;
}
.example_category_icon{
    display: inline-block;
    float: right;
    margin: 25px 25px 0 0;
    width: 30px;
}
.example_code_icon{
    width: 40px;
}
.example_card_bottom{
    background: #6adbb8;
    background: rgba(255, 255, 255, 0.25);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 60px;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    transition: .25s;
    width: 100%;
}
.ui_toggles_example{
    background: url(images/toggles_background.jpg);
    background-size: cover;
}
.language_example{
    background: url(images/language_background.jpg);
    background-size: cover;
}
.smithsonian_example{
    background: url(images/wireflow_background.jpg);
    background-size: cover;
}
.prototype_example{
    background: url(images/prototype_background.jpg);
    background-size: cover;
}
.logo_redesign_example{
    background: url(images/corsair_background.jpg);
    background-size: cover;
}
.thinkgeek_example{
    background: url(images/sorting_background.jpg);
    background-size: cover;
}
.card_bottom_hover{
    background: #ff8e8e;
/*    background: linear-gradient(160deg,#ffbf97, #ff7cae);*/
}
.example_description{
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.25em;
    line-height: 60px;
    margin: 0;
    text-align: center;
}
#contact_me_please{
    color: #9177c7;
    padding: 100px 0;
}
/*----SCROLL TO TOP BUTTON----*/
.top_button{
    background: #b57fd1;
    border-radius: 50px;
    height: 50px;
    overflow: hidden;
    position: fixed;
    right: -150px;
    top: 20px;
    transition: .25s;
    width: 150px;
    z-index: 5;
}
.top_button_appear{
    transform: translate(-100px,0);
}
#arrow_to_top{
    color: white;
    float: left;
    font-size: 2em;
    margin: 10px 10px 0 12px;
}
.top_button_text{
    color: white;
    float: left;
    font-family: "Lato", sans-serif;
    font-size: 1.25em;
    font-weight: bolder;
    line-height: 50px;
    margin: 0;
}

/*-------CONTACT--------*/
.contact{
    background: #a167af;
    background: linear-gradient(160deg, rgba(180, 44, 180, 0.5), rgba(107, 95, 248, 0.5)), url(images/background_bw3.jpg);
    margin: 0;
    overflow: hidden;
    width: 100%;
}
.contact_container{
    margin: 75px auto;
    overflow: hidden;
    position: relative;
    width: 500px;
}
.info_row{
    background: rgba(255, 255, 255, 0.10);
    border-radius: 10px;
    margin: 25px auto 0 auto;
    overflow: hidden;
    width: 90%;
}
#contact_envelope, #linkedin{
    color: white;
    display: inline-block;
    float: left;
    font-size: 2em;
    margin: 20px 15px 20px 30px;
}
.info_text{
    color: white;
    display: inline-block;
    float: left;
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    margin: 20px;
    text-align: center;
    text-decoration: none;
}
.info_row:active{
    background: #6fbaa3;
}
.info_row_email:hover{
    background: #ed604d;
}
.info_row_linkedin:hover{
    background: #0077B5;
}
/*----------RESPONSIVENESS----------*/
@media (max-width: 1024px){
    /*intro & content*/
    .examples_container{
        width: 95%;
    }
}
@media (max-width: 1000px){
    /*splash header*/
    .ux_icons{
        width: 100%;
    }
    .heart_icon, .layout_icon{
/*
        margin-left: 30%;
        width: 40%;
*/
    }
    .code_icon{
/*
        margin-left: 25%;
        width: 50%;
*/
    }
    .icon_title{
        margin-top: 7.65vw;
    }
    .ui_title{
        margin-top: 7.5vw;
    }
    /*intro & content*/
    .intro_text{
        width: 80%;
    }
    /*contact*/
}
@media (max-width: 980px){
    /*splash header*/
    
    /*intro & content*/
    
    .descriptions_container{
        width: 100%;
    }
    /*contact*/
}
@media (max-width: 680px){
    /*splash header*/
    .splash_logo_div{
        margin-top: 50px;
    }
    .ux_icons{
        margin-top: 100px;
    }
    .description_div{
        float: none;
        display: block;
        margin: 15px auto 0 auto;
        width: 300px;
    }
    .section_title{
        font-size: 2em;
        padding: 75px 0;
    }
    /*portfolio content*/
    .example{
        float: none;
        margin: 15px 0;
        width: 100%;
    }
    /*contact*/
    
}
@media (max-width: 550px){
    /*intro & content*/
    
    /*portfolio content*/
    
}
@media (max-width: 500px){
    /*splash header*/
    .splash_logo_div{
        border: 2px solid white;
        margin-top: 10px;
        padding: 20px 20px 15px 20px;
    }
    /*ux icons*/
    .ux_icons{
        margin-bottom: 140px;
    }
    .heart_icon, .layout_icon{
        margin-left: 30%;
        width: 40%;
    }
    .code_icon{
        margin-left: 25%;
        width: 50%;
    }
    /*intro & content*/
    .intro_text{
        font-size: 1.5em;
    }
    .social_icons{
        border-radius: 0;
        left: 0;
        width: 100%;
    }
    .section_title{
        font-size: 2em;
    }
    /*contact*/
    .contact_container{
        width: 100%;
    }
}
@media (max-width: 470px){
    /*overlay notification*/
    .notification{
        padding: 15px 0;
        width: 90vw;
    }
    .notification_text{
        width: 85vw;
    }
    /*intro & content*/
    .section_title{
        margin: 0 auto;
        width: 80%;
    }
    .examples_container{
        width: 90%;
    }
    /*contact*/
    #contact_envelope, #linkedin{
        color: white;
        display: block;
        float: none;
        font-size: 2.5em;
        margin: 20px 0;
        text-align: center;
    }
    .info_text{
        display: block;
        float: none;
        margin: 20px 0;
        text-align: center;
    }
    
}
@media (max-width: 360px){
    /*splash header*/
    
    /*intro & content*/
    .intro_content{
        padding-top: 115px;
    }
    .headshot_div{
        left: calc((100% - 125px)/2);
        top: -65px;
        width: 135px;
    }
    .fa-twitter{
        margin-left: 15px;
    }
    .fa-behance{
        margin-right: 10px;
    }
    .description_div{
        width: 90%;
    }
    /*portfolio content*/
    
    /*contact*/
    .info_email{
        font-size: 1em;
    }
}