body{
    background: url("images/alt_stovetop_background.png");
    background-size: 100%;
    margin: 0;
}
#line_container{
    height: 850px;
    margin: 0 auto;
    width: 1200px;
}
#line1{
    animation: jiggle1 2s infinite;
    display: block;
    font-family: bitter;
    font-size: 64px;
    margin: 40px 0 0 280px;
    width: 650px;
}
#line2{
    animation: jiggle2 3s infinite;
    color: #f5aa51;
    display: block;
    font-family: indie flower;
    font-size: 64px;
    margin: 15px 0 0 400px;
    width: 650px;
}
#line3{
    animation: jiggle3 2.5s infinite;
    background: #ea2de2;
    color: #b3ed82;
    display: block;
    font-family: lobster;
    font-size: 64px;
    margin: 15px 0 0 100px;
    width: 575px;
}
#line4{
    animation: jiggle4 3s infinite;
    background: #e88a1c;
    display: block;
    font-family: poiret one;
    font-size: 72px;
    margin: 15px 0 0 400px;
    width: 550px;
}
#line5{
    animation: jiggle5 1.5s infinite;
    background: #3dd991;
    color: #ffff57;
    display: block;
    font-family: pacifico;
    font-size: 64px;
    margin: 15px 0 0 220px;
    width: 450px;
}
#line6{
    animation: jiggle6 4s infinite;
    background: #f0f02c;
    display: block;
    font-family: francois one;
    font-size: 64px;
    margin: 15px 0 0 300px;
    width: 800px;
}
#arrow{
    animation: arrow_flip 2s infinite;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid #86f02a;
    float: bottom;
    height: 0;
    width: 0;
}
/*--FOOTER LOGO AND BUTTONS--*/
#foot_kitchen{
    color: #7db588;
    display: inline-block;
    font-family: montserrat alternates;
    font-size: 92px;
    margin: 0 10px 0 50px;
    padding: 0px;
}
#foot_time{
    color: #65a7e0;
    display: inline-block;
    font-family: norican;
    font-size: 104px;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
}
#footer_logo{
    animation: blink 2s infinite;
    height: 125px;
    margin: 0 auto;
    width: 600px;
}
#footer_buttons{
    height: 150px;
    margin: 0 auto;
    width: 600px;
}
#google_footer{
    margin: 35px 50px 35px 100px;
}
#apple_footer{
    margin: 35px 0 35px 0;
}
#google_rating{
    margin: 0 50px 50px 110px;
}
#apple_rating{
    margin: 0 0 47px 20px;
}
/*--ANIMATIONS AND STUFF--*/

@keyframes jiggle1{
    0%{margin: 40px 0 0 280px;}
    0%{background: #86f02a;}
    50%{margin: 40px 0 0 320px;}
    50%{background: #2a85f0;}
    100%{margin: 40px 0 0 280px;}
    100%{background: #86f02a;}
}
@keyframes jiggle2{
    0%{margin: 15px 0 0 400px;}
    0%{background: #2a50d0;}
    50%{margin: 15px 0 0 450px;}
    50%{background: black;}
    100%{margin: 15px 0 0 400px;}
    100%{background: #2a50d0;}
}
@keyframes jiggle3{
    0%{background: #ea2de2;}
    50%{background: #125017;}
    100%{background: #ea2de2;}
    0%{margin: 15px 0 0 100px;}
    50%{margin: 15px 0 0 175px;}
    100%{margin: 15px 0 0 100px;}
}
@keyframes jiggle4{
    0%{background: #e88a1c;}
    50%{background: #d6cf27;}
    100%{background: #e88a1c;}
    0%{margin: 15px 0 0 400px;}
    50%{margin: 15px 0 0 450px;}
    100%{margin: 15px 0 0 400px;}
}
@keyframes jiggle5{
    0%{background: #3dd991;}
    50%{background: #25ed34;}
    100%{background: #3dd991;}
    0%{margin: 15px 0 0 220px;}
    50%{margin: 15px 0 0 270px;}
    100%{margin: 15px 0 0 220px;}
}
@keyframes jiggle6{
    0%{background: #f0f02c;}
    50%{background: #ef661d;}
    100%{background: #f0f02c;}
    0%{margin: 15px 0 0 300px;}
    50%{margin: 15px 0 0 350px;}
    100%{margin: 15px 0 0 300px;}
}
@keyframes arrow_flip{
    0%{margin: 25px 0 0 550px;}
    50%{margin: 125px 0 0 550px;}
    100%{margin: 25px 0 0 550px;}
    0%{border-top: 100px solid #86f02a;}
    50%{border-top: 100px solid #ea2de2;}
    100%{border-top: 100px solid #86f02a;}
    0%{transform: rotateY(0deg);}
    50%{transform: rotateY(180deg);}
    100%{transform: rotatey(360deg);}
}
@keyframes blink{
    0%{background: white;}
    50%{background: black;}
    100%{background: white;}
}
@keyframes tiny_jiggle{
    0%{margin: 0 auto;}
    25%{margin: 50px auto 0 auto;}
    100%{margin: 0 auto;}
}